
body{
     background-color: rgb(114, 62, 19);
}

.squre-container {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
  
    width: 400px;
    height: 550px;
    margin: 0 auto;
    margin-top: 5%;
    
   
}

.single-square {
    transition: background-color 5s ease, transform .5s;
    animation: bounce .5s alternate infinite;
}


